<div class="homebuyer-list" style="position: relative">
  <div class="half-screen-list">
  </div>
  <div class=header-list>
  </div>
    <div class="image-list">
      <h1>Review your current mortgages</h1>
      <p>To get you started, estimate your borrowing power before speaking with a Mortgage Broker.</p>
    </div>
  </div>

  <div class="list-card">
    <div class="card" style="width: 18rem;">
      <% @homebuyers.each do |h| %>

      <div class= list-mortgage >
      <% rate = Rate.find(h.rate_id) %>

        <p>Mortgage with <%= rate.bank.name %></p>
        <p>Loan amount: <%= h.loan_amount %></p>
        <p>Loan term: <%= h.loan_term %></p>
        <p>Interest rate: <%= h.interest_rate %>%</p>
        <p>Monthly repayment: <%= h.monthly_repayment %></p>
        <p>Net Disposable Income: <%= h.net_disposable_income %></p>
      </div>

      <% end %>

    </div>

  </div>
  <%= link_to "Find your broker", brokers_path, class:"btn btn-info"  %>
</div>
