<h1>Homebuyer Property</h1>

<div class="property-info">
  <%= simple_form_for [@rate, @homebuyer] do |f| %>
    <!-- loan info -->
    <div class="field">
      <%= f.label :property_value %>
      <%= f.number_field :property_value, id: 'property_value' %>
    </div>

    <div class="field">
      <%= f.label :total_deposit %>
      <%= f.number_field :total_deposit, id: 'total_deposit' %>
    </div>

    <div class="field">
      <p> Interest Rate: <%= @rate.interest_value %></p>
      <%= f.input :interest_rate, :as => :hidden, :input_html => {:value => @rate.interest_value} %>
    </div>

    <div class="field">
      <%= f.label :loan_term %>
      <%= f.number_field :loan_term, id: 'loan_term' %>
    </div>

    <!-- income info -->
    <div class="field">
      <%= f.label :salary %>
      <%= f.number_field :salary, id: 'salary' %>
    </div>

    <div class="field">
      <%= f.label :other_income %>
      <%= f.number_field :other_income, id: 'other_income' %>
    </div>

    <!-- expenses info -->

    <div class="field">
      <%= f.label :living_expenses %>
      <%= f.number_field :living_expenses, id: 'living_expenses' %>
    </div>

    <div class="field">
      <%= f.label :car_loan_payment %>
      <%= f.number_field :car_loan_payment, id: 'car_loan_payment' %>
    </div>

    <div class="field">
      <%= f.label :other_debts %>
      <%= f.number_field :other_debts, id: 'other_debts' %>
    </div>

    <%= f.submit "Calculate Mortgage" %>

  <% end %>
</div>




<!-- JavaScript to dynamically calculate the loan amount and monthly repayment -->
<script>

</script>

<br>

<div class="investment-wise">

  <div class="field">
    <%= label_tag 'loan_amount', 'Loan Amount' %>
    <%= text_field_tag 'loan_amount', '', id: 'mortgage_loan_amount', readonly: true %>
  </div>

  <div class="field">
    <%= label_tag 'monthly_repayment', 'Monthly Repayment' %>
    <%= text_field_tag 'monthly_repayment', '', id: 'monthly_repayment_amount', readonly: true %>
  </div>

  <div class="field">
    <%= label_tag 'total_interest_paid', 'Total Interest over Loan Period' %>
    <%= text_field_tag 'total_interest_paid', '', id: 'total_interest_paid_amount', readonly: true %>
  </div>

</div>
