<div class="container" style="margin-top: 0">
  <div class="su-title">
    <p class="broker-SU-title">BROKER SIGN UP FORM</p>
  </div>
    <%= form_with model: @order, html: {class:"d-flex justify-content-center flex-column"} do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name%>
      <%= f.label :last_name %>
      <%= f.text_field :last_name%>
      <%= f.label :email %>
      <%= f.text_field :email%>
      <%= f.label :description %>
      <%= f.text_field :description%>
      <%= f.label :about %>
      <%= f.text_field :about %>
      <%= f.label :address %>
      <%= f.text_field :address %>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
      <%= f.submit "SUBMIT BROKER FORM", class:"broker-su-btn" %>
  <% end %>
</div>
