<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="wrapper">
  <section class="video-section">
    <div class="video-container">
      <video src="<%= asset_path('flower.mp4') %>"  autoplay loop muted></video>
    </div>
    <div class="img-container">
      <%= image_tag "window.png", class: "img" %>
    </div>
    <div class="text-content">
      <div class="img_txt">
        <div class="title sm left">
          <span>between</span>
        </div>
        <div class="title bg left">
          <span>Reality</span>
        </div>
        <div class="title bg right n" style="z-index: 2;">
          <span>&</span>
        </div>
        <div class="title bg right">
          <span>Dream</span>
        </div>
      </div>
    </div>
  </section>
  <div class="v_container">
    <div class="left-side">
      <div class="hero">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2 d-flex justify-content-center align-items-center"> <!-- Center the content in the column -->
            <!-- Image -->
            <div class="text-center text-md-start"> <!-- Center the Lottie animation -->
              <dotlottie-player src="https://lottie.host/d468c80b-f03b-4376-a62d-49ebf0734105/ewEgTAe1sJ.json" background="transparent" speed="1" style="width: 100%; max-width: 500px; height: auto;" autoplay loop></dotlottie-player>
            </div>
          </div>
          <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
            <!-- Heading -->
            <h1 class="display-3 text-center text-md-start">
              <span class="title-kyl">Know Your Loan</span><br>
            </h1>
            <!-- Text -->
            <p class="lead text-center text-md-start text-body-primary mb-6 mb-lg-8">
              Unlocking Your Mortgage Journey: Empowering Your Mortgage Journey Through Visual Insights.
            </p>
            <!-- Buttons -->
            <div class="signin-container">
              <% if !current_user %>
                <div class="row">
                  <div class="col-6">
                    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary rounded-pill" %>
                  </div>
                  <div class="col-6">
                    <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-secondary rounded-pill white-bg" %>
                  </div>
                </div>
              <% else %>
                <%= link_to "Check current rates", rates_path, class:"btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-4 py-5 ">
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
            <dotlottie-player src="https://lottie.host/c9904b46-f48a-4ae2-ac1c-f401e472d8ae/YGw2MyDUCS.json" background="transparent" speed="1" style="width: 300px; height: 100px;" loop autoplay></dotlottie-player>

            <%# <svg class="bi" width="1em" height="1em">
            <use xlink:href="#collection"></use>
            </svg> %>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">All-in-One App</h4>
          <p class="text-body-secondary">Access all essential mortgage details with just a few clicks.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
            <dotlottie-player src="https://lottie.host/daa4c2bc-bd06-4e4b-9a02-6d0d9e102532/OUo2zFachA.json" background="transparent" speed="1" style="width: 300px; height: 100px;" loop autoplay></dotlottie-player>

            <%# <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill"></use>
            </svg> %>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Tailored Solutions</h4>
          <p class="text-body-secondary">Whether you're investing or buying a home, input your figures, and let us handle the intricate calculations.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
            <dotlottie-player src="https://lottie.host/01e37067-6b1f-4297-9248-27351f5f9b9a/5qzdDdEOcV.json" background="transparent" speed="1" style="width: 100px;" loop autoplay></dotlottie-player>

            <%# <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer"></use>
            </svg> %>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Financial Insight</h4>
          <p class="text-body-secondary">Easily comprehend your cash flow and assess your returns.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
            <dotlottie-player src="https://lottie.host/2b3a8ae6-3a3a-42d8-93ba-89f6f6ceace8/pjE9vge0HZ.json" background="transparent" speed="1" style="width: 100px; " loop autoplay></dotlottie-player>

            <%# <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table"></use>
            </svg> %>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Up-to-Date Rate</h4>
          <p class="text-body-secondary">Stay informed with the most current and competitive interest rates available, updated in real-time.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Partner with KnowYourLoan", new_order_path, class:"btn btn-primary" %>
  </div>
</div>


<%# <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 KnowYourLoan</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
  </ul>
</footer> %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.5/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>


</html>
