<h1>********** NEW BROKER REGISTRATION **********</h1>
<h1>*********************************************</h1>
<h2>Broker details</h2>
<p>-----------------------------------</p>
<br>
<p>First name: <%= @order.first_name %></p>
<p>Last name: <%= @order.last_name %></p>
<p>Email address: <%= @order.email %></p>
<p>Description: <%= @order.description %></p>
<p>About: <%= @order.about %></p>
<p>Address: <%= @order.address %></p>
<p>Phone number: <%= @order.phone_number %></p>
<br>
<p>-----------------------------------</p>
