<%= simple_form_for [mortgage] do |f| %>
  <div class="loan-info">
    <div class="field">
      <%= f.label :property_value %>
      <%= f.number_field :property_value, id: 'property_value', data: {"appointment-alert-target": "propertyValue"} %>
    </div>

    <div class="field">
      <%= f.label :total_equity %>
      <%= f.number_field :total_equity, id: 'total_equity', data: {"appointment-alert-target": "totalEquity"} %>
    </div>

    <div class="field field-interest-rate">
      <div class="interest-title">
        <p>Interest Rate</p>
      </div>
      <div class="interest-value">
        <p><%= number_to_percentage(@rate.interest_value, precision: 2) %></p>
      </div>
      <%= f.input :interest_rate, :as => :hidden, :input_html => {:value => @rate.interest_value} %>
    </div>
  </div>

  <div class="rental-info">
    <div class="field">
      <%= f.label :rental_income %>
      <%= f.number_field :rental_income, id: 'rental_income', data: {"appointment-alert-target": "rentalIncome"} %>
    </div>

    <div class="field">
      <%= f.label :maintenance_fund %>
      <%= f.number_field :maintenance_fund, id: 'maintenance_fund', data: {"appointment-alert-target": "maintenanceFund"} %>
    </div>

    <div class="field">
      <%= f.label :other_expenses %>
      <%= f.number_field :other_expenses, id: 'other_expenses', data: {"appointment-alert-target": "otherExpenses"} %>
    </div>
  </div>

  <div class="field-submit">
    <%= f.submit "Calculate Cashflow", class:"btn btn-primary", data: { action: 'click->appointment-alert#mortgageFormFire' } %>
  </div>
<% end %>
