<h1>Investment Property</h1>

<%= simple_form_for :mortgage do |f| %>
  <div class="field">
    <%= f.label :property_value %>
    <%= f.number_field :property_value, id: 'property_value', step: 1000 %>
  </div>

  <div class="field">
    <%= f.label :total_equity %>
    <%= f.number_field :total_equity, id: 'total_equity', step: 1000 %>
  </div>

  <div class="field">
    <%= f.label :interest_rate %>
    <%= f.number_field :interest_rate, id: 'interest_rate', step: 0.01 %>
  </div>

  <%= f.submit "Calculate Mortgage" %>
<% end %>

<!-- Input field to display the calculated loan amount -->
<div class="field">
  <%= label_tag 'loan_amount', 'Loan Amount' %>
  <%= text_field_tag 'loan_amount', '', id: 'mortgage_loan_amount', readonly: true %>
</div>

<!-- Input field to display the calculated monthly repayment -->
<div class="field">
  <%= label_tag 'monthly_repayment', 'Monthly Repayment' %>
  <%= text_field_tag 'monthly_repayment', '', id: 'monthly_repayment_amount', readonly: true %>
</div>

<!-- JavaScript to dynamically calculate the loan amount and monthly repayment -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var propertyValueField = document.getElementById('property_value');
    var totalEquityField = document.getElementById('total_equity');
    var loanAmountField = document.getElementById('mortgage_loan_amount');
    var interestRateField = document.getElementById('interest_rate');
    var monthlyRepaymentField = document.getElementById('monthly_repayment_amount');
    var calculateButton = document.querySelector('input[type="submit"]');

    function calculateLoanAmount() {
      var propertyValue = parseFloat(propertyValueField.value);
      var totalEquity = parseFloat(totalEquityField.value);
      var loanAmount = propertyValue - totalEquity;

      // Check if loanAmount is a valid number
      if (!isNaN(loanAmount) && isFinite(loanAmount)) {
        loanAmountField.value = loanAmount.toFixed(2);

        // Calculate monthly repayment
        var interestRate = parseFloat(interestRateField.value);
        var monthlyInterestRate = interestRate / 100 / 12;
        var loanTermInMonths = 30 * 12; // Assuming a 30-year loan term
        var monthlyRepayment = (loanAmount * monthlyInterestRate) / (1 - Math.pow(1 + monthlyInterestRate, -loanTermInMonths));
        monthlyRepaymentField.value = monthlyRepayment.toFixed(2);
      } else {
        loanAmountField.value = ""; // Clear the field if loan amount is not valid
        monthlyRepaymentField.value = ""; // Clear monthly repayment field
      }
    }

    calculateButton.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent form submission
      calculateLoanAmount();
    });
  });
</script>
