<div class="homebuyer-list" style="position: relative">
  <div class="half-screen-list">
  </div>
  <div class=header-list>
  </div>
    <div class="image-list">
  <h1>The list of your mortgages:</h1>
   </div>
  </div>


  <div class="mortgage-card">
        <% @mortgages.each do |mortgage| %>
          <% rate = Rate.find(mortgage.rate_id) %>
          <div>
            <% if mortgage.monthly_cashflow.positive? %>
              <table class="listing-table">
                <tbody>
                  <tr>
                    <td>Mortgage with</td>
                    <td><%= rate.bank.name %></td>
                  </tr>
                    <% if mortgage.monthly_cashflow.positive? %>
                  <tr>
                      <td>Loan amount</td>
                      <td><%= number_with_delimiter(mortgage.loan_amount.round(2)) %> NZD</td>
                  </tr>
                  <tr>
                      <td>Monthly repayment</td>
                      <td><%= mortgage.monthly_repayment.round(2) %> NZD</td>
                  </tr>
                  <tr>
                      <td>Monthly cashflow</td>
                      <td><%= link_to number_with_delimiter(mortgage.monthly_cashflow.round(2)), mortgage_path(mortgage), class:"monthly-cashflow-listing" %> NZD</td>
                  </tr>
                    </div>
                    <% end %>
                    </tbody>
              </table>
            <% end %>
        <% end %>
  </div>
  <div class='d-flex justify-content-center'>
    <%= link_to "Find your broker", brokers_path, class:"btn btn-info broker-btn" %>
  </div>
 </div>
</div>
