<div class="homebuyer-list" style="position: relative">
  <div class="half-screen-list">
  </div>
  <div class=header-list>
  </div>
    <div class="image-list">
  <h1>The list of your mortgages:</h1>
   </div>
  </div>


  <div class="mortgage-card">
  <% @mortgages.each do |mortgage| %>
    <% rate = Rate.find(mortgage.rate_id) %>
    <div class="list-mortgage">
    <p>Mortgage with <%= rate.bank.name %></p>
    <% if mortgage.monthly_cashflow.positive? %>
      <p>Loan amount: <%= mortgage.loan_amount.round(2) %> NZD</p>
      <p>Monthly repayment: <%= mortgage.monthly_repayment.round(2) %> NZD</p>
      <p>Monthly cashflow: <%= mortgage.monthly_cashflow.round(2) %> NZD</p>
    </div>
    <% else %>
      <p>Your monthly cashflow of this mortgage is negative. Please recalculate</p>
      </div>
    <% end %>
  <% end %>
 <%= link_to "Find your broker", brokers_path, class:"btn btn-info broker-btn" %>
 </div>
</div>
