<div class="container">
  <h1>The list of your mortgages:</h1>
  <% @mortgages.each do |mortgage| %>
    <% rate = Rate.find(mortgage.rate_id) %>
    <p>Mortgage with <%= rate.bank.name %></p>
    <% if mortgage.monthly_cashflow.positive? %>
    <div>
      <p>Loan amount: <%= mortgage.loan_amount %></p>
      <p>Monthly repayment: <%= mortgage.monthly_repayment.round(2) %> AUD</p>
      <p>Monthly cashflow: <%= mortgage.monthly_cashflow.round(2) %> AUD</p>
    </div>
    <% else %>
      <p>Your monthly cashflow of this mortgage is negative. Please recalculate</p>
    <% end %>
  <% end %>
  <%= link_to "Find your broker", brokers_path %>
</div>
