<h1>Investment Property</h1>

<div class="property-info">
  <%= simple_form_for [@bank, @mortgage] do |f| %>
    <div class="field">
      <%= f.label :property_value %>
      <%= f.number_field :property_value, id: 'property_value' %>
    </div>

    <div class="field">
      <%= f.label :total_equity %>
      <%= f.number_field :total_equity, id: 'total_equity' %>
    </div>

    <div class="field">
      <%= f.label :interest_rate %>
      <%= f.number_field :interest_rate, id: 'interest_rate', step: 0.01 %>
    </div>

    <div class="field">
      <%= f.label :rental_income %>
      <%= f.number_field :rental_income, id: 'rental_income' %>
    </div>

    <div class="field">
      <%= f.label :maintainence_fund %>
      <%= f.number_field :maintainence_fund, id: 'maintainence_fund' %>
    </div>

    <div class="field">
      <%= f.label :other_expenses %>
      <%= f.number_field :other_expenses, id: 'other_expenses' %>
    </div>

    <%= f.submit "Calculate Cashflow" %>

  <% end %>
</div>




<!-- JavaScript to dynamically calculate the loan amount and monthly repayment -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  var propertyValueField = document.getElementById('property_value');
  var totalEquityField = document.getElementById('total_equity');
  var interestRateField = document.getElementById('interest_rate');
  var rentalIncomeField = document.getElementById('rental_income');
  var maintenanceFundField = document.getElementById('maintainence_fund');
  var otherExpensesField = document.getElementById('other_expenses');
  var loanAmountField = document.getElementById('mortgage_loan_amount');
  var monthlyRepaymentField = document.getElementById('monthly_repayment_amount');
  var monthlyCashflowField = document.getElementById('monthly_cashflow_amount');
  var calculateCashflowButton = document.querySelector('input[type="submit"][value="Calculate Cashflow"]');

  calculateCashflowButton.addEventListener('click', function(event) {

    function calculateLoanAmount() {
      var propertyValue = parseFloat(propertyValueField.value);
      var totalEquity = parseFloat(totalEquityField.value);
      var loanAmount = propertyValue - totalEquity;
      var rentalIncome = parseFloat(rentalIncomeField.value);
      var maintenanceFund = parseFloat(maintenanceFundField.value);
      var otherExpenses = parseFloat(otherExpensesField.value);

      if (!isNaN(loanAmount) && isFinite(loanAmount)) {
        loanAmountField.value = loanAmount.toFixed(2);

        var interestRate = parseFloat(interestRateField.value);
        var monthlyInterestRate = interestRate / 100 / 12;
        var loanTermInMonths = 30 * 12;
        var monthlyRepayment = (loanAmount * monthlyInterestRate) / (1 - Math.pow(1 + monthlyInterestRate, -loanTermInMonths));
        var monthlyCashflow = rentalIncome - maintenanceFund - otherExpenses - monthlyRepayment;

        monthlyRepaymentField.value = monthlyRepayment.toFixed(2);
        monthlyCashflowField.value = monthlyCashflow.toFixed(2);
      } else {
        loanAmountField.value = "";
        monthlyRepaymentField.value = "";
        monthlyCashflowField.value = "";
      }
    }

    console.log("Cashflow Calculated");

    // Call the function to calculate loan amount
    calculateLoanAmount();
  });
});

</script>

<br>




<div class="investment-wise">

  <div class="field">
    <%= label_tag 'loan_amount', 'Loan Amount' %>
    <%= text_field_tag 'loan_amount', '', id: 'mortgage_loan_amount', readonly: true %>
  </div>

  <div class="field">
    <%= label_tag 'monthly_repayment', 'Monthly Repayment' %>
    <%= text_field_tag 'monthly_repayment', '', id: 'monthly_repayment_amount', readonly: true %>
  </div>

  <div class="field">
    <%= label_tag 'monthly_cashflow', 'Monthly Cashflow' %>
    <%= text_field_tag 'monthly_cashflow', '', id: 'monthly_cashflow_amount', readonly: true %>
  </div>

</div>
