  <div class="mortgage-show" style="position: relative; margin-top: 0">
    <div class="half-screen-show">
    </div>
    <div class=mortgage-header-show>
    </div>
      <div class="image-show-mortgage">
        <h1>investment Factsheet</h1>
      </div>
  </div>

  <div class=chart-show-container>
  <div class="container" style="margin-top: 0">
    <% if @mortgage.monthly_cashflow.positive? %>
      <%= pie_chart [["Monthly repayment", @mortgage.monthly_repayment], ["Monthly cashflow",@mortgage.monthly_cashflow], ["Maintenance fund",@mortgage.maintenance_fund], ["Other expenses",@mortgage.other_expenses]], donut: true, round: 2, thousands: "," %>
    <% end %>
    <%# <div data-controller="appointment-alert">
      <div data-controller="mortgage" class="d-flex justify-content-center align-items-center flex-column">
        <button class="btn btn-primary mt-3" data-action="click->mortgage#change" data-target="mortgageForm">EDIT YOUR MORTGAGE</button>
        <div class="d-none" data-mortgage-target="mortgageForm">
          <%= render "mortgage_edit_form", mortgage: @mortgage %>

        <%# </div>
      </div>
    </div>  %>
  </div>



  <div class="factsheet">
    <p><strong>Property Value:</strong> <%= number_with_delimiter(number_with_precision(@mortgage.property_value, precision: 2)) %></p>
    <p><strong>Total Equity:</strong> <%= number_with_delimiter(number_with_precision(@mortgage.total_equity, precision: 2) )%></p>
    <p><strong>Interest Rate:</strong> <%= number_with_precision(@mortgage.interest_rate, precision: 2) %>% </p>

    <br>

    <p><strong>Monthly Rental Income:</strong> <%= number_with_delimiter(number_with_precision(@mortgage.rental_income, precision: 2)) %></p>
    <p><strong>Maintenance Fund:</strong> <%= number_with_delimiter(number_with_precision(@mortgage.maintenance_fund, precision: 2) )%></p>
    <p><strong>Other Expenses:</strong> <%= number_with_delimiter(number_with_precision(@mortgage.other_expenses, precision: 2)) %> </p>

    <br>

    <p><strong>Loan Amount:</strong> <%= number_with_delimiter(number_with_precision(@mortgage.loan_amount, precision: 2)) %></p>
    <p><strong>Monthly Interest:</strong> <%= number_with_delimiter(number_with_precision(@mortgage.monthly_repayment, precision: 2)) %></p>
    <p><strong>Monthly Cashflow:</strong> <%= number_with_delimiter(number_with_precision(@mortgage.monthly_cashflow, precision: 2)) %></p>


  </div>
  <div class="result mortgage-show-btn">
    <% if @mortgage.monthly_cashflow.positive? %>
    <%= link_to "Recalculate", new_rate_mortgage_path(@rate), class:"btn btn-secondary" %>
    <% else %>
      <p>Your monthly cashflow is negative please</p>
      <%= link_to "Recalculate", new_rate_mortgage_path(@rate) %>
    <% end %>
    <% if @mortgage.monthly_cashflow.positive? %>
      <%= link_to "Save your calculation", listing_path, class:"btn btn-info field-submit-show" %>
    <% end %>
  </div>
</div>
