<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="appointment-alert">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">BOOK AN APPOINTMENT</h5>
      </div>
      <div class="modal-body">
        <%= form_with model: [@broker, @appointment], html: { class: "appointment-modal", "data-appointment-alert-target": "formSubmit" } do |f| %>
          <%= f.label :date, class:"modal-label" %>
          <%= f.date_field :date, data: {"appointment-alert-target": "date"} %>

          <%= f.label :message, class:"modal-label" %>
          <%= f.text_field :message, data: {"appointment-alert-target": "message"} %>

          <%= f.submit class:"modal-btn", value:"CONFIRM YOUR APPOINTMENT",  data: { action: 'click->appointment-alert#initSweetalert' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
