<div style="position: relative; width: 100vw; margin-top: 60px">
  <div class="half-screen">
  </div>
  <div class="neighborhood">
  </div>
  <div class="context-img">
    <p>EXPERT MORTGAGE BROKERS IN AUSTRALIA</p>
    <h2>Helping you find the best home loan deals</h2>
  </div>
</div>
<div class="container" data-controller="brokers" style="margin-top:0">
  <div class="row">
    <div class="col-sml-6">

      <div class='d-flex justify-content-center mb-3'>
        <button data-action="click->brokers#changeView" data-brokers-target="btnView" class="map-list">LIST</button>
      </div>
      <div class="brokers-list d-none text-center" data-brokers-target="list">
        <% @brokers.each do |broker| %>
            <% if broker.photo.key %>
              <%= cl_image_tag broker.photo.key, height: 300, width: 300, crop: :fill %>
            <% end %>
            <h3 class="mt-3"><%= broker.first_name %> <%= broker.last_name %></h3>
            <p><%= broker.about %></p>
            <i class="fa-solid fa-arrow-right" style="color: red"></i><%= link_to "See profile", broker_path(broker), class:"see-profile-index" %>
            <br>
            <% if current_user %>
              <% if current_user.admin %>
                <%= link_to "EDIT BROKER INFO", edit_broker_path(broker) %>
              <% end %>
            <% end %>
        <% end %>
      </div>
      <% if current_user %>
        <% if current_user.admin %>
          <%= link_to "CREATE NEW BROKER", new_broker_path %>
        <% end %>
      <% end %>
      <%# MAPBOX %>
      <div style="width: 100%; height: 100vh" data-brokers-target="brokersMap">
        <div style="height: 100%; width: 100%"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        >
        </div>
      </div>
    </div>
  </div>
</div>
