<div style="position: relative; width: 100vw; margin-top: 60px">
  <div class="half-screen-showpage">
  </div>
  <div class="neighborhood-showpage">
  </div>
  <div class="context-img-showpage">
    <h2><%= @broker.first_name %> <%= @broker.last_name %></h2>
    <p><%= @broker.description %></p>
  </div>
</div>
<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sml-6">
      <%# Broker information %>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2>About <strong><%= @broker.first_name %></strong></h2>
        <% if @broker.photo.key %>
          <%= cl_image_tag @broker.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <p><%= @broker.about %></p>
      </div>
      <br>
      <p><i class="fa-solid fa-phone" style="color: red"></i> <%= @broker.phone_number %></p>
      <p><i class="fa-solid fa-envelope" style="color: red"></i> <%= @broker.email %></p>

      <div class="d-flex align-items-center justify-content-center flex-column">
        <%# Appointment button with Bootstrap modal %>
        <button type="button" class="appointment-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Book an appointment
        </button>
        <%= render "appointments/modal" %>

        <%# Broker review details %>
        <% if @broker.reviews != [] %>
          <h2>Reviews about <%= @broker.first_name %>:</h2>
          <% @broker.reviews.each do |review| %>
            <p>
              <br>
              Content: <%= review.content %>
              <br>
              Rating: <%= review.rating %>
            </p>
          <% end %>
        <% end %>

      <%# Users can write a review about the broker if they have the appointment(s) with them  %>
      <% if @appointments != [] %>
        <div data-controller="review-toggle"
          style="
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            ">

          <button class="review-btn-broker" data-action="click->review-toggle#fire"><i class="fa-solid fa-arrow-right"> </i>Add new review</button>

          <div class="d-none" data-review-toggle-target="reviewForm">
            <%= simple_form_for [@broker, @review], html: {class: "d-flex justify-content-center align-items-center flex-column", "data-review-toggle-target": "reviewSubmit"} do |f| %>
              <%= f.label :content %>
              <%= f.text_field :content, required: false, data: {"review-toggle-target": "content"} %>
              <%= f.label :rating %>
              <%= f.select :rating, options_for_select(['1', '2', '3', '4', '5']), { include_blank: true }, { class: 'form-control' } %>
              <%= f.number_field :rating, required: false, :collection => %w[1 2 3 4 5], data: {"review-toggle-target": "rating"} %>
              <%= f.submit class:"submit-review-btn", data: {action: "click->review-toggle#initSweetalert"}%>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
