<div class="container">
  <div class="row">
    <div class="col-sml-6">
      <%# Broker information %>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 style="font-weight: bold"><%= @broker.first_name.upcase %> <%= @broker.last_name.upcase %></h2>
        <h3 style="font-weight: bold">MORTGAGE & FINANCE BROKER</h3>
        <% if @broker.photo.key %>
          <%= cl_image_tag @broker.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <p><%= @broker.about %></p>
      </div>
      <br>
      <p><i class="fa-solid fa-phone"></i> <%= @broker.phone_number %></p>
      <p><i class="fa-solid fa-envelope"></i> <%= @broker.email %></p>

      <div class="d-flex align-items-center justify-content-center flex-column">
        <%# Appointment button with Bootstrap modal %>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Book an appointment
        </button>
        <%= render "appointments/modal" %>

        <%# Broker review details %>
        <% if @broker.reviews != [] %>
          <h2>Reviews about <%= @broker.first_name %>:</h2>
          <% @broker.reviews.each do |review| %>
            <p>
              <br>
              Content: <%= review.content %>
              <br>
              Rating: <%= review.rating %>
            </p>
          <% end %>
        <% end %>

      <%# Users can write a review about the broker if they have the appointment(s) with them  %>
      <% if @appointments != [] %>
        <div data-controller="review-toggle">
          <button class="btn btn-primary" data-action="click->review-toggle#fire">Add new review</button>
          <div class="d-none" data-review-toggle-target="reviewForm">
            <%= render 'reviews/review_form', broker: @broker, review: @review %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
