<div class="rate-table">
  <div class="table-container">
    <table class="tg">
    <tbody>
      <!-- Header row -->
      <tr class="header-row">
        <td>Lender</td>
        <td>1 year</td>
        <td>2 years</td>
        <td>3 years</td>
      </tr>


      <!-- Data rows -->
      <% @banks.each_with_index do |bank, index| %>
        <% unless index == 0 %> <!-- Skip the first row -->
        <tr>
          <td class="tg-0lax">
            <% if bank.image_url.empty? %>
              <!-- If there's no image, leave the cell empty -->
            <% else %>
             <%= link_to new_rate_mortgage_path(bank), class:"bank_link" do %>
                <div>
                  <img src=<%= bank.image_url %> alt="" class="image-size">
                <span> <%= bank.name %> </span>
                </div>
              <% end %>
            <% end %>
          </td>
          <td class="tg-0lax interest"><%= bank.rates[0].interest_value %></td>
          <td class="tg-0lax interest"><%= bank.rates[1].interest_value %></td>
          <td class="tg-0lax interest"><%= bank.rates[2].interest_value %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
  </div>

  <br>


  <div class="bank-selection">
    <h2>Choose your bank</h2>
  </div>
  <div class="dropdown">
<button class="dropbtn">Dropdown</button>
