<table class="tg">
<tbody>
  <% @rates.each do |rate| %>
    <tr>
      <% if rate[:image].empty? %>
        <td></td>
      <%else%>
        <td class="tg-0lax"><img src=<%= rate[:image] %> alt="Girl in a jacket" width="50" height="50"></td>
      <% end %>
        <td class="tg-0lax"><%= rate[:bank_name] %></td>
        <td class="tg-0lax"><%= rate[:first_year] %></td>
        <td class="tg-0lax"><%= rate[:second_year] %></td>
        <td class="tg-0lax"><%= rate[:third_year] %></td>
    </tr>
  <% end %>
</tbody>
</table>
